CompileFlags:
  Add: 
    - -xc
    - -DCN_IMPLEMENTATION
    - -Wno-missing-prototypes
    - -Wno-unknown-attributes
    - -Wno-macro-redefined
  
Diagnostics:
  ClangTidy:
    Add: []
    Remove:
      - "*"
